.App {
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card {
  width: 90vw;
  margin-top: 40px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
}

.card-header {
  display: flex;
  border-bottom: 1px solid #787878;
}

.input-style {
  height: 40px;
  padding: 5px;
  padding-left: 10px;
  width: 300px;
  font-size: 17px
}

.title-style {
  text-align: start;
  font-weight: bold;
  font-size: 20px;
  margin-right: 7px;
  width: 20%
}

.select-style {
  height: 54px;
  padding: 5px;
  margin-left: 30px;
  width: 90px;
}

@media screen and (max-width: 1366px) {
  .card {
    grid-template-columns: repeat(3, 1fr);
  }

  .title-style {
    width: 100%
  }

  .card-header {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .card {
    grid-template-columns: repeat(2, 1fr);
  }

  .title-style {
    width: 100%
  }

  .card-header {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .card {
    grid-template-columns: repeat(1, 1fr);
  }

  .title-style {
    width: 100%
  }

  .input-style {
    width: 55vw;
  }

  .select-style {
    width: 15vw;
    margin-left: 15px;
  }

  .card-header {
    flex-direction: column;
  }
}

@media screen and (max-width: 375px) {
  .pagenation {
    width: 350px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}